.ftable {
    background-color: #e4e8f6;
    margin: 20px 0;
    padding: 18px;
    border-radius: 8px;
}
.style {
    font-size: 14px;
    font-weight: 600;
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.font16 {
    font-size: 16px;
}

.popStyle {
    z-index: 100;
    &[data-popper-placement*="bottom"] .arrow{
  
      width: 0; 
      height: 0; 
      border-left: 1em solid transparent;
      border-right: 1em solid transparent;
      border-bottom: 1em solid darkgray;
      margin-top: -0.9em;
      
      &:before {
        border-width: '0 1em 1em 1em';
        border-color: 'transparent transparent white transparent';
      }
    }
  
    &[data-popper-placement*="top"] .arrow{
  
      bottom: 0;
      width: 0; 
      height: 0; 
      border-left: 1em solid transparent;
      border-right: 1em solid transparent;
      border-top: 1em solid darkgray;
      margin-bottom: -0.9em;
  
      &:before {
        border-width: 1em 1em 0 1em;
        border-color: white transparent transparent transparent;
      }
    }
  
    &[data-popper-placement*="right"] .arrow{
  
      left: 0;
      width: 0; 
      height: 0; 
      border-top: 1em solid transparent;
      border-bottom: 1em solid transparent;
      border-right: 1em solid darkgray;
      margin-left: -0.9em;
  
      &:before {
        border-width: 1em 1em 1em 0;
        border-color: transparent white transparent transparent;
      }
    }
  
    &[data-popper-placement*="left"] .arrow{
      
      right: 0;
      width: 0; 
      height: 0; 
      border-top: 1em solid transparent;
      border-bottom: 1em solid transparent;
      border-left: 1em solid darkgray;
      margin-right: -0.9em;
  
      &:before {
        border-width: 1em 0 1em 1em;
        border-color: transparent transparent transparent white;
      }
    }
  
    .arrow {
      position: absolute;
      font-size: 7px;
      width: 3em;
      height: 3em;
  
      &:before {
        // content: '""',
        margin: auto;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
      }
    }
  
    .popper-content {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: black;
      height: 60px;
      width: 250px;
      border: 1px solid darkgray;
      border-radius: 4px;
      padding: 10px;
    }
  }
