.ftable {
    background-color: #e4e8f6;
    margin: 20px 0;
    padding: 18px;
    border-radius: 8px;
}
.form1 {
    padding: 20px 20px 20px 40px;
    display: flex;
    flex-direction: column;
}
.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.tojiruStyle{
    margin: 0 auto;
    text-align: center;
}

.dateStyle {
    width: 150px;
}

.inputStyle {
    border: 2px solid lightgray;
    border-radius: 4px;
    width: 120px;
    text-align: center;
}